# Data Structures and Objects

In [1]:
a = 10

In [2]:
#to identify the type of data: type(_) funciton
type(a)

int

In [3]:
print(a)

10

In [5]:
#Floating Numbers/ Float
b = 1.7
c = 2.3

In [6]:
b+c

4.0

In [7]:
type(b+c)

float

In [8]:
#String
name = "Codificar"

In [9]:
name

'Codificar'

In [10]:
type(name)

str

# List

In [2]:
#A list is a container which can hold different data types in it
#List is a complex data type which is derived from LIST Object
#List elements are always stored in ordered sequence of Number Starting from 0

In [4]:
lst = ["Codificar", 10, 718, 124.3, [1,2,3]]

In [15]:
lst

['Codificar', 10, 718, 124.3, [1, 2, 3]]

In [17]:
lst[0], lst[4]

('Codificar', [1, 2, 3])

In [18]:
lst[4][1]

2

In [21]:
#Every Object will have some Methods, lets see List Object's Methods

In [22]:
lst.append("kiran") #append push the value to end of list
lst

['Codificar', 10, 718, 124.3, [1, 2, 3], 'kiran']

In [23]:
lst.index(10) #index of particular member in the list

1

In [8]:
len(lst)

5

# DICT - Dictionaries

In [12]:
#Key Value pair,
# It used as JSON

In [10]:
dict = {"name": "codificar", "age":"24", "number": 123456}

In [11]:
dict

{'name': 'codificar', 'age': '24', 'number': 123456}

In [18]:
dict.get('name'), dict['name'] #Retreiving a Value

('codificar', 'codificar')

In [17]:
dict.items()

dict_items([('name', 'codificar'), ('age', '24'), ('number', 123456)])

In [19]:
dict.keys()

dict_keys(['name', 'age', 'number'])

In [20]:
dict.values()

dict_values(['codificar', '24', 123456])

In [22]:
dict.pop('age') #remove the key value pair
dict['School'] = 'KVS' #Adding new element to dict

In [23]:
dict

{'name': 'codificar', 'number': 123456, 'School': 'KVS'}

# Sets

In [25]:
#Sets are used for storing unique values
#Sets are mostly for finding UNION, disjoint, finding commons and uncommons

In [26]:
st = {"codificar", "letsupgrade",1,2,3,4,4,5,6,5,5}

In [27]:
st

{1, 2, 3, 4, 5, 6, 'codificar', 'letsupgrade'}

In [28]:
st1 = {"codificar", 1}

In [29]:
st1.issubset(st)

True

# Tuple

In [31]:
#Ordered immutable sequence of Objects
#data cann't be changed

In [32]:
tup = ("code", "@", "letsupgrade")

In [34]:
tup, tup.count('@'), tup.index("letsupgrade")

(('code', '@', 'letsupgrade'), 1, 2)

# Boolean

In [2]:
abc = True

In [3]:
abc

True

In [4]:
lt = [1,2,(5,6), 8, "lets", "welcome"]

In [5]:
lt

[1, 2, (5, 6), 8, 'lets', 'welcome']

In [7]:
lt.pop()
print(lt)
lt.pop(2)
print(lt)

[1, 2, (5, 6), 8, 'lets']
[1, 2, 8, 'lets']

In [8]:
dt = {1: 'code', 2: 'me', 3: 'again'}
print(dt)

{1: 'code', 2: 'me', 3: 'again'}

In [12]:
dt1 = dict({1: 'code', 2: 'calmly', 3:'welcome'}) 
print("\nDictionary with the use of dict(): ") 
print(dt1) 
  
#Creating a Dictionary with each item as a Pair 
dt2 = dict([(1, 'Codificar'), (2, 'For')]) 
print("\nDictionary with each item as a pair: ") 
print(dt2)

Dictionary with the use of dict():
{1: 'code', 2: 'calmly', 3: 'welcome'}

Dictionary with each item as a pair:
{1: 'Codificar', 2: 'For'}

In [13]:
del dt1

In [14]:
dt1

NameError: name 'dt1' is not defined

In [15]:
newDt = dt.copy()
print(newDt)

{1: 'code', 2: 'me', 3: 'again'}

In [17]:
Dictionary1 = { 'A': 'python', 'B': 'js' } 
Dictionary2 = { 'B': 'java' } 
  
print(Dictionary1) #{ 'A': 'python', 'B': 'js' }
  
Dictionary1.update(Dictionary2) 
print(Dictionary1) #{ 'A': 'python', 'B': 'java' }

Dictionary1.update(C = 'js', D = 'ruby')
print(Dictionary1) #{ 'A': 'python', 'B': 'java' }

{'A': 'python', 'B': 'js'}
{'A': 'python', 'B': 'java'}
{'A': 'python', 'B': 'java', 'C': 'js', 'D': 'ruby'}

In [18]:
print(Dictionary1.keys())

dict_keys(['A', 'B', 'C', 'D'])

In [19]:
st = set()
print(st)
st = set('mississipi')
print(st)
st = set(["keep", "calm", "keep", "coding"])
print(st)

set()
{'s', 'm', 'i', 'p'}
{'keep', 'coding', 'calm'}

In [20]:
st = set()
st.add(1)
st.add((6,7))
st.add(9)
for i in range(1, 6): 
    st.add(i) 
print(st)

{1, 2, 3, 4, 5, 9, (6, 7)}

In [21]:
st.update([10,11])
print(st)

{1, 2, 3, 4, 5, 9, 10, 11, (6, 7)}

In [22]:
set1 = set([1, 2, 3, 4, 5, 6,  
            7, 8, 9, 10, 11, 12]) 
print(set1)
set1.remove(5) 
set1.remove(6) 
print(set1)
set1.discard(8) 
set1.discard(9) 
set1.discard(6)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 7, 10, 11, 12}

In [23]:
print(set1)
set1.pop()
print(set1)

{1, 2, 3, 4, 7, 10, 11, 12}
{2, 3, 4, 7, 10, 11, 12}

In [26]:
Tuple1 = () 
print (Tuple1) 
   
Tuple1 = ('Geeks', 'For') 
print(Tuple1) 

list1 = [1, 2, 4, 5, 6] 
print(tuple(list1)) 
 
Tuple1 = tuple('Geeks') 
print(Tuple1) 

a, b, c, d,e = Tuple1 
print(a,b,c,d,e)

()
('Geeks', 'For')
(1, 2, 4, 5, 6)
('G', 'e', 'e', 'k', 's')
G e e k s

In [39]:
Tuple1 = (2, 4, 3, 0, 1) 
print(len(Tuple1))
print(max(Tuple1))
print(min(Tuple1))
print(sorted(Tuple1))
print(type(sorted(Tuple1)))
print(sum(Tuple1))

5
4
0
[0, 1, 2, 3, 4]
<class 'list'>
10

In [40]:
String1 = 'Welcome to the Codificar World'
print(String1) 
  
# Creating a String 
# with double Quotes 
String1 = "I'm a Codificar"
print(String1) 
  
# Creating a String 
# with triple Quotes 
String1 = '''I'm a Codificar and I live in a world of "Tech"'''
print(String1) 
  
# Creating String with triple 
# Quotes allows multiple lines 
String1 = '''Code 
            For 
            Life'''
print(String1)

Welcome to the Codificar World
I'm a Codificar
I'm a Codificar and I live in a world of "Tech"
Code
            For
            Life

In [43]:
String1 = "CodeToLearn"
print("Initial String: ")  
print(String1) 
  
# Printing 3rd to 12th character 
print(String1[3:11]) 
  
# Printing characters between  
# 3rd and 2nd last character  
print(String1[3:-2])

Initial String:
CodeToLearn
eToLearn
eToLea

In [45]:
String1 = "{} {} {}".format('Code', 'For', 'Life') 
print(String1) 
  
# Positional Formatting 
String1 = "{1} {0} {2}".format('Code', 'For', 'Life') 
print(String1) 
  
# Keyword Formatting 
String1 = "{l} {f} {c}".format(c = 'Code', f = 'For', l = 'Life') 
print(String1)

Code For Life
For Code Life
Life For Code

In [53]:
str = "Code For Life"
print(str.endswith("Lif"))
print(str.endswith("Life"))
print(str.endswith("Life", 9))
print(str.endswith("Life", 9, 13))
print(str.endswith("Life", 9, 12))
print(len(str))

False
True
True
True
False
13

In [54]:
string = '15460'
print(string.isdigit())
  
 
string = '154ayush60'
print(string.isdigit())

True
False